/Java/Leccion 1/MundoPc/build/
/Java/Leccion 1/MundoPc/nbproject/private/
/Java/Leccion 2/ArgumentosVatiables/nbproject/private/
/Java/Leccion 2/ArgumentosVatiables/build/
/Java/Leccion 2/Enumeraciones/nbproject/private/
/Java/Leccion 2/Enumeraciones/dist/
/Java/Leccion 2/Enumeraciones/build/
/Java/Leccion 2/BloquesInicializacion/nbproject/private/
/Java/Leccion 2/BloquesInicializacion/build/
/Java/Leccion 3/ForEach/nbproject/private/
/Java/Leccion 3/ForEach/build/
/Java/Leccion 3/AutoboxingUnboxing/nbproject/private/
/Java/Leccion 3/AutoboxingUnboxing/build/
/Java/Leccion 3/ModificadoresAcceso/nbproject/private/
/Java/Leccion 3/ModificadoresAcceso/build/
/Java/Leccion 4/Sobreescritura/nbproject/private/
/Java/Leccion 4/Sobreescritura/build/
/Java/Leccion 4/InstanceOf/nbproject/private/
/Java/Leccion 4/InstanceOf/build/
